/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&family=Work+Sans:ital,wght@0,400;0,500;1,400;1,500;1,600&display=swap');

*{
font-family: 'Work Sans', sans-serif;
}
/* header sec */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px,240px ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}
nav li a{
    text-decoration: none;
    color: #424242;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/* banner sec */

.banner-content{
    max-width: 800px;
    text-align: center;

    margin: 0 auto;
}
.banner-description{
    color: #727272;
}
.btn-primary{
    color: #fff;
    background: #ff900e;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}
.banner img{
    margin-top: 20px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* team sec */
    .team-sec{
        display: flex;
        align-items: center;
    }
    .team-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
    .team-content{
        padding-left:70px;
        padding-right:70px ;
    }
    .team-title{
        font-size: 1.8rem;
    }
    .title1{
        color: gray;
        font-weight:500;
    }
    .title3{
        color: #ff900e;
        font-weight: 700;
    }
/*     fact sec */
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
}
   .fact-card-container{
    display: flex;
    justify-content: space-around;
   } 
   .fact-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
   }
   .fact-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

   }
   .text-light-gray{
    color:#727272;
   }
   /* sponsors sec */
   .sponsor{
    text-align: center;
   }
   .sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-to:50px ;
    gap: 20px;
   }
   .sponsor-img-container,img{
    width: 165px;
    height: 50px;
   }

/* media queries */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .team-sec, .fact-card-container{
        flex-direction: column;
    }
    .banner img{
        max-width: 70%;
    }
    .team-img{
        grid-template-columns: 1fr;
    }
    .team-content, .fact-card-container{
        padding-left:20px;

        padding-right:20px ;
    }
    .fact-card-container{
        gap: 20px;
    }
    
} 
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding:20px;
    }
    .banner img{
        max-width:80% ;
    }
    nav, .team-sec{

        flex-direction: column;
    }
    
}
